#executables
notepad
notepad_app
*.out

#all object files
*.o

#test file
test.cpp

#notes
progress.txt

#program requirements pdf
DSA_A4.pdf

#vscode settings
.vscode/

#debug settings
build/

#notepad file
notepad.txt